#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>
#include <zephyr/dt-bindings/sensor/lis2dw12.h>

/ {
	aliases {
		accel0 = &lis2dw12;
	};
};

&pinctrl {
	sensor_i2c0_default: sensor_i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
				<NRF_PSEL(TWIM_SCL, 0, 3)>;
		};
	};

	sensor_i2c0_sleep: sensor_i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
				<NRF_PSEL(TWIM_SCL, 0, 3)>;
			low-power-enable;
		};
	};
};

/*
 * P0.00 drives the TPS22860 ON input.
 * The TPS output drives the LIS2DW12 CS pin, so this GPIO must
 * be high before the LIS2DW12 driver starts.
 */
&gpio0 {
	accel_cs_enable_hog: accel-cs-enable-hog {
		gpio-hog;
		gpios = <0 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "LIS2DW12 CS enable";
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	pinctrl-0 = <&sensor_i2c0_default>;
	pinctrl-1 = <&sensor_i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	lis2dw12: accelerometer@18 {
		compatible = "st,lis2dw12";
		reg = <0x18>;
		status = "okay";

		range = <2>;
		odr = <0>;
		power-mode = <0>;

		/*
		 * Wired on the PCB, but interrupt operation is not
		 * enabled during this milestone.
		 */
		irq-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
		int-pin = <1>;

		wakeup-duration = <LIS2DW12_DT_WAKEUP_2_ODR>;
	};
};

&nfct {
	status = "okay";
};
&gpiote {
    status = "okay";
};
